<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="./normalize.css" rel="stylesheet">
   <link href="./dist/semantic.css" rel="stylesheet">
  <title>Anonypost</title>
</head>
<body>
  <div class = "ui grid">
    <div class="ui inverted black vertical segment">
      <div class="ui page grid">
        <div class="column">
          <h2 class="ui inverted centered header">Anonypost</h2>
          <img class="ui small centered image" src="https://c1.staticflickr.com/7/6217/6314661375_d89b3be3a4.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <section class="button">
      <div class="ui black button" style = "
      position:relative;
      left: 579px;"><a href='/topics'>Enter the discussion</a></div>
    </section>
  </div>
</body>
</html>