<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All ze Topics</title>
</head>
<body>
  <a href='/topics/new'>Create new topics</a>
  <a href='/topics/comments'>List topics by most comments</a>

  <ul>
    {{#allTopics}}
      <li><a href ="/topics/{{topicID}}">{{topic}} - {{votes}} - {{location}} - {{author}}</a></li>
      <form method="POST" action="/topics/{{topicID}}/votes?_method=PUT"> 
      <button type="submit">Vote</button></form>
    {{/allTopics}}
  </ul>
</body>
</html>